# Database Configuration
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=your_database_name
BACKUP_DIR=backup

# Google Drive Configuration
DRIVE_FOLDER_ID=your_id_here

# Telegram API settings
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# MySQL/MariaDB mysqldump path
# Contoh Windows: C:\xampp\mysql\bin\mysqldump.exe
# Contoh Linux/Mac: /usr/bin/mysqldump
MYSQLDUMP_PATH=
